.storybook-piano-keyboard {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  width: 40px;
  height: 200px;
  display: flex;
  cursor: pointer;
}

.storybook-piano-keyboard--white {
  background: #fff;
  margin-right: 2px;
  position: relative;
  z-index: 1;
  border: 1px solid #928d93;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border: solid 3px #928d93;
}

.storybook-piano-keyboard--black {
  background: #000;
  width: 30px;
  height: 150px;
  position: relative;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.arrow {
  margin-top: 5px;
}
